  <div class="card-body">
    <h5 class="card-title">Войдите</h5>
    <div class="auth-context">
        <form>
            <div class="form-group">
              <label for="id-login">Логин:</label>
              <input type="text" class="form-control" name="login" id="id-login" aria-describedby="emailHelp" placeholder="Enter email">
            </div>
            <div class="form-group">
              <label for="id-password">Пароль:</label>
              <input type="password" class="form-control" name="password" id="id-password" placeholder="Password">
            </div>
            
            <button type="submit" class="btn btn-primary">Войти</button>
          </form>
    </div>
  </div>
 
