<div class="card registration-center">
  <div class="card-body">
    <h5 class="card-title">Зарегистрируйтесь</h5>
    <div class="context">
        <form>
            <div class="form-group">
              <label for="id-name">Имя:</label>
              <input type="text" class="form-control" name="name" id="id-name">
            </div>
            <div class="form-group">
              <label for="id-surname">Фамилия:</label>
              <input type="text" class="form-control" name="surname" id="id-surname">
            </div>
            <div class="form-group">
              <label for="id-phone">Телефон:</label>
              <input type="text" class="form-control" name="phone" id="id-phone">
            </div>
            <div class="form-group">
              <label for="id-city">Город:</label>
              <input type="text" class="form-control" name="city" id="id-city">
            </div>
            <div class="form-group">
              <label for="id-login">Логин:</label>
              <input type="text" class="form-control" name="login" id="id-login">
            </div>
            <div class="form-group">
              <label for="id-password1">Пароль:</label>
              <input type="text" class="form-control" name="password1" id="id-password1">
            </div>
            <div class="form-group">
              <label for="id-password2">Повторите пароль:</label>
              <input type="text" class="form-control" name="password3" id="id-password3">
            </div>
            <button type="submit"  class="btn btn-primary">Зарегистрировать</button>
          </form>
    </div>
  </div>
  </div>
